<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskId</key>
	<string>DSBloodPressureTask</string>
	<key>frequencyType</key>
	<string>daily</string>
	<key>frequencyNumber</key>
	<string>6</string>
	<key>name</key>
	<string>Blood Pressure</string>
	<key>type</key>
	<string>Survey</string>
	<key>questions</key>
	<array>
		<dict>
			<key>answerType</key>
			<string>Introduction</string>
			<key>prompt</key>
			<string>Please measure the child blood pressure. Enter systolic and then diastolic.</string>
			<key>questionId</key>
			<string>DSMoodIntroduction</string>
		</dict>
		<dict>
			<key>optional</key>
			<true/>
			<key>answerUnit</key>
			<string>mmHg</string>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>0</integer>
				<key>maximum</key>
				<integer>190</integer>
			</dict>
			<key>answerType</key>
			<string>NSNumber</string>
			<key>prompt</key>
			<string>Measure the blood pressure please. Systolic.</string>
			<key>questionId</key>
			<string>systolic</string>
			<key>dashboard</key>
			<dict>
				<key>graphType</key>
				<string>timeBased</string>
				<key>yAxisColName</key>
				<string>DSDateColName</string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>xScale</key>
				<integer>2</integer>
				<key>yScale</key>
				<real>1.5</real>
				<key>title</key>
				<string>Blood Pressure</string>
				<key>subtitle</key>
				<string>Systolic</string>
				<key>highlightedLines</key>
				<dict>
					<key>y</key>
					<array>
						<integer>120</integer>
						<integer>80</integer>
					</array>
				</dict>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>0.1529</real>
					<key>green</key>
					<real>0.8196</real>
					<key>blue</key>
					<real>0.3529</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>optional</key>
			<true/>
			<key>answerUnit</key>
			<string>mmHg</string>
			<key>answerRange</key>
			<dict>
				<key>minimum</key>
				<integer>0</integer>
				<key>maximum</key>
				<integer>100</integer>
			</dict>
			<key>answerType</key>
			<string>NSNumber</string>
			<key>prompt</key>
			<string>Measure the blood pressure please. Diastolic.</string>
			<key>questionId</key>
			<string>diastolic</string>
			<key>dashboard</key>
			<dict>
				<key>graphType</key>
				<string>timeBased</string>
				<key>yAxisColName</key>
				<string>DSDateColName</string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>xScale</key>
				<integer>2</integer>
				<key>yScale</key>
				<integer>2</integer>
				<key>title</key>
				<string>Blood Pressure</string>
				<key>subtitle</key>
				<string>Diastolic</string>
				<key>highlightedLines</key>
				<dict>
					<key>y</key>
					<array>
						<integer>80</integer>
						<integer>60</integer>
					</array>
				</dict>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>0.498</real>
					<key>green</key>
					<real>0.0863</real>
					<key>blue</key>
					<real>0.8</real>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
