<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskId</key>
	<string>DSMoodTask</string>
	<key>frequencyType</key>
	<string>daily</string>
	<key>frequencyNumber</key>
	<string>1</string>
	<key>name</key>
	<string>Mood</string>
	<key>type</key>
	<string>Survey</string>
	<key>questions</key>
	<array>
		<dict>
			<key>answerType</key>
			<string>Introduction</string>
			<key>prompt</key>
			<string>Please try to match the girls mood with our predefined options.</string>
			<key>questionId</key>
			<string>DSMoodIntroduction</string>
		</dict>
		<dict>
			<key>answerUnit</key>
			<string>NSNumber</string>
			<key>answerType</key>
			<string>ImageChoice</string>
			<key>prompt</key>
			<string>Which image better describes the girl&apos;s mood?</string>
			<key>questionId</key>
			<string>moodSurvey</string>
			<key>imageChoice</key>
			<array>
				<dict>
					<key>selectedImage</key>
					<string>moodGoodSelected</string>
					<key>normalImage</key>
					<string>moodGoodNormal</string>
					<key>text</key>
					<string>Good</string>
					<key>value</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>moodRegularSelected</string>
					<key>normalImage</key>
					<string>moodRegularNormal</string>
					<key>text</key>
					<string>Regular</string>
					<key>value</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>selectedImage</key>
					<string>moodBadSelected</string>
					<key>normalImage</key>
					<string>moodBadNormal</string>
					<key>text</key>
					<string>Bad</string>
					<key>value</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>dashboard</key>
			<dict>
				<key>graphType</key>
				<string>timeBased</string>
				<key>yAxisColName</key>
				<string>DSDateColName</string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>xScale</key>
				<integer>2</integer>
				<key>yScale</key>
				<integer>50</integer>
				<key>title</key>
				<string>Mood</string>
				<key>subtitle</key>
				<string></string>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>0.498</real>
					<key>green</key>
					<real>0.0863</real>
					<key>blue</key>
					<real>0.8</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>optional</key>
			<true/>
			<key>answerType</key>
			<string>String</string>
			<key>prompt</key>
			<string>Use this space to write anything you think it&apos;s important.</string>
			<key>questionId</key>
			<string>DSMoodDescription</string>
		</dict>
	</array>
</dict>
</plist>
