<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taskId</key>
	<string>DSO2SaturationTask</string>
	<key>frequencyType</key>
	<string>daily</string>
	<key>frequencyNumber</key>
	<string>6</string>
	<key>name</key>
	<string>O2 Saturation</string>
	<key>type</key>
	<string>Survey</string>
	<key>questions</key>
	<array>
		<dict>
			<key>answerType</key>
			<string>Introduction</string>
			<key>prompt</key>
			<string>Please measure the O2 saturation in the blood.</string>
			<key>questionId</key>
			<string>DSSeizureIntroduction</string>
		</dict>
		<dict>
			<key>answerRange</key>
			<dict>
				<key>maximum</key>
				<integer>100</integer>
				<key>minimum</key>
				<integer>0</integer>
			</dict>
			<key>answerUnit</key>
			<string>%</string>
			<key>answerType</key>
			<string>NSNumber</string>
			<key>prompt</key>
			<string>Measure the O2 saturation please.</string>
			<key>questionId</key>
			<string>saturation</string>
			<key>dashboard</key>
			<dict>
				<key>graphType</key>
				<string>timeBased</string>
				<key>yAxisColName</key>
				<string></string>
				<key>timeUnit</key>
				<string>Hour</string>
				<key>xScale</key>
				<integer>2</integer>
				<key>yScale</key>
				<real>1.75</real>
				<key>title</key>
				<string>O2 Saturation</string>
				<key>subtitle</key>
				<string></string>
				<key>color</key>
				<dict>
					<key>red</key>
					<real>1</real>
					<key>green</key>
					<real>0.2113</real>
					<key>blue</key>
					<real>0.3618</real>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
